<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h2>My Site</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="about">About</a></li>
				<li>
					<select
						name=""
						id="courses">
						<option
							value=""
							default>
							Courses
						</option>
						<option value="2">Course 2</option>
						<option value="3">Course 3</option>
					</select>
				</li>
			</ul>
		</header>
	</body>
</html>
